/* HEADER */
header {
    background-color: #ff4f81;
    color: white;
}

.header-left i {
    padding-right: 4px;
}

.header-right i {
    font-size: 14px;
    padding: 8px 10px;
    background-color: #333333;
    border: 1px solid transparent;
    margin-left: 3px;
    transition: all 0.3s;
}

.header-right i:hover {
    border: 1px solid white;
    background-color: #ff4f81;
}

.navbar-brand--logo p {
    color: #ff4f81;
    font-size: 0.8em;
    margin-top: -5px;
}


/* NAVBAR  */

.navbar-brand h1 {
    color: #282828;
}

.navbar-nav--menu {
    margin-top: -30px;
}

.navbar-nav--menu .nav-item .nav-link {
    font-weight: bold;
    color: #282828;
    transition: all 0.3s;
}

.navbar-nav--menu .nav-item {
    margin-left: 20px;
}

.nav-item .nav-item__line {
    width: 0%;
    height: 2px;
    background-color: #ff4f81;
    transition: all 0.3s;
}

.navbar-nav--menu .active .nav-link{
    color: #ff4f81 !important;
}

.navbar-nav--menu .active .nav-item__line {
    width: 100%
}


.navbar-nav--menu .nav-item:hover .nav-link{
    color: #ff4f81;
}

.navbar-nav--menu .nav-item:hover .nav-item__line {
    width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-brand--logo h1 {
        font-size: 30px;
    }

    .navbar-nav--menu .nav-item .nav-link {
        font-size: 0.9em;
    }

    .navbar-nav--menu .nav-item {
        margin-left: 10px;
    }
}