/* HEADER */
header {
    background-color: #ff4f81;
    color: white;
}

.header-left i {
    padding-right: 4px;
}

.header-right i {
    font-size: 14px;
    padding: 8px 10px;
    background-color: #333333;
    border: 1px solid transparent;
    margin-left: 3px;
    transition: all 0.3s;
}

.header-right i:hover {
    border: 1px solid white;
    background-color: #ff4f81;
}

.navbar-brand--logo p {
    color: #ff4f81;
    font-size: 0.8em;
    margin-top: -5px;
}


/* NAVBAR  */

.navbar-brand h1 {
    color: #282828;
}

.navbar-nav--menu {
    margin-top: -30px;
}

.navbar-nav--menu .nav-item .nav-link {
    font-weight: bold;
    color: #282828;
    transition: all 0.3s;
}

.navbar-nav--menu .nav-item {
    margin-left: 20px;
}

.nav-item .nav-item__line {
    width: 0%;
    height: 2px;
    background-color: #ff4f81;
    transition: all 0.3s;
}

.navbar-nav--menu .active .nav-link{
    color: #ff4f81 !important;
}

.navbar-nav--menu .active .nav-item__line {
    width: 100%
}


.navbar-nav--menu .nav-item:hover .nav-link{
    color: #ff4f81;
}

.navbar-nav--menu .nav-item:hover .nav-item__line {
    width: 100%;
}


/* CAROUSEL */

.carousel-indicators--config {
    bottom: 20%;
}

.carousel-caption--config {
    bottom: 30%;
}

.carousel-item .img-fluid--config {
    width: 100%;
}

.btn--read-more {
    border-radius: 0px;
    transition: all 0.3s;
    margin-top: 10px;
    outline: none;
}

.btn--read-more:hover {
    color: white;
    background-color: #ff4f81;
}

.carousel-caption--config h1 {
    font-size: 3.3em;
    font-weight: normal;
}

.carousel-caption--config p {
    font-size: 1.1em;
    letter-spacing: 4px;
    line-height: 1.3em;
}

/* MODAL CAROUSEL */
.modal-header--carousel h1 {
    color: #ff4f81;
}

.modal-body--carousel p {
    margin-top: 10px;
    word-spacing: 3px;
    line-height: 25px;
    color: #5f5a5a;
}



/* WELCOME */

.welcome-section {
    padding: 3rem 0;
}

.welcome-title h1 {
    color: #ff4f81;
    font-size: 40px;
    font-weight:600;
    letter-spacing:2px;
}

.welcome-title span {
    font-size: 17px;
    letter-spacing: 4px;
    font-weight: 500;
    color:black;
}

.welcome-title .welcome-title__line {
    width: 150px;
    height: 2px;
    background-color: black;
}

.welcome-title p {
    font-size: 15px;
    color: #999;
    line-height: 1.8em;
    width: 80%;
    padding: 0 10px;
}

/* CARD */

.education-course i {
    font-size: 30px;
}

.education-course h2 {
    color: #ff4f81;
    font-weight: 600;
    margin: 15px 0;
}

.education-course h3 {
    font-size: 1em;
    font-weight: bold;

}

.education-course p {
    font-size: 15px;
    color: #999;
    line-height: 1.8em;
}

/* MEDIA QUERY */

/* NAVBAR */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-brand--logo h1 {
        font-size: 30px;
    }

    .navbar-nav--menu .nav-item .nav-link {
        font-size: 0.9em;
    }

    .navbar-nav--menu .nav-item {
        margin-left: 10px;
    }
}

/* CAROUSEL */

@media screen and (max-width: 576px) {
    .carousel-indicators--config {
        bottom: 0%;
    }
    
    .carousel-caption--config {
        bottom: 20%;
    }

    .carousel-caption--config h1 {
        font-size: 2em;
        font-weight: normal;
    }
    
    .carousel-caption--config p {
        font-size: 0.8em;
        letter-spacing: 3px;
        line-height: 1.3em;
        margin-bottom: 0px;
    }
}

@media screen and (min-width:575px) and (max-width: 768px) {
    .carousel-indicators--config {
        bottom: 10%;
    }
    
    .carousel-caption--config {
        bottom: 30%;
    }

    .carousel-caption--config h1 {
        font-size: 2.5em;
        font-weight: normal;
    }
    
    .carousel-caption--config p {
        font-size: 0.8em;
        letter-spacing: 3px;
        line-height: 1.3em;
        margin-bottom: 20px;
    }
}

@media screen and (min-width:769px) and (max-width: 834px) {
    .carousel-indicators--config {
        bottom: 10%;
    }
    
    .carousel-caption--config {
        bottom: 30%;
    }

    .carousel-caption--config h1 {
        font-size: 3em;
        font-weight: normal;
    }
    
    .carousel-caption--config p {
        font-size: 0.8em;
        letter-spacing: 3px;
        line-height: 1.3em;
        margin-bottom: 20px;
    }

}